/* CSS for LDAP Tool Box Self Service Password */

html, body {
  background: #fff;
  padding-top: 20px;
  font-size: 12pt;
}

a, a:hover {
  text-decoration: none;
}

.panel, .alert, .navbar-wrapper {
  box-shadow:0 3px 6px rgba(0,0,0,.25);
}

.panel {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
}
.panel-body {
  padding: 30px
}
.panel-success {
  border-color:transparent!important
}
img.logo {
  height: 80px!important;
  margin-bottom: 20px;
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

.input-group-addon label {
  margin: 0;
  font-weight: normal;
}
.alert-info {
  background: none!important;
  background-image:none!important;
}
div#footer {
  position:fixed;
  bottom:0;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  text-align:center;
  padding:5px;
  width:100%;
}
@media (min-width: 992px) {
  .container {
    width: 500px!important;
  }
}

@media print {

  html, body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100%;
  }

  a[href]:after {
    content: none;
  }

}